services:
  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - datamasterylab

  # Kafka Broker
  broker:
    image: confluentinc/cp-kafka:7.4.0
    container_name: broker
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://broker:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    networks:
      - datamasterylab

  # Spark Master
  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    user: root
    command: bash -c "mkdir -p /home/spark/.ivy2/cache && chmod -R 777 /home/spark && /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master"
    ports:
      - "8080:8080"
      - "7077:7077"
    volumes:
      - ./jobs:/opt/spark/work-dir/jobs
      - ./config.py:/opt/spark/work-dir/config.py
    networks:
      - datamasterylab

  # Spark Worker 1
  spark-worker-1:
    image: apache/spark:3.5.0
    container_name: spark-worker-1
    user: root
    depends_on:
      - spark-master
    command: bash -c "mkdir -p /home/spark/.ivy2/cache && chmod -R 777 /home/spark && /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077"
    volumes:
      - ./jobs:/opt/spark/work-dir/jobs
      - ./config.py:/opt/spark/work-dir/config.py
    networks:
      - datamasterylab

  # Spark Worker 2
  spark-worker-2:
    image: apache/spark:3.5.0
    container_name: spark-worker-2
    user: root
    depends_on:
      - spark-master
    command: bash -c "mkdir -p /home/spark/.ivy2/cache && chmod -R 777 /home/spark && /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077"
    volumes:
      - ./jobs:/opt/spark/work-dir/jobs
      - ./config.py:/opt/spark/work-dir/config.py
    networks:
      - datamasterylab

networks:
  datamasterylab:
    driver: bridge